@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    transition: background-color 500ms, color 500ms;
}

.theme-light {
    --bg-color: #f4f4f4;
    --text-color: #333;
    --header-bg: #333;
    --header-text: #fff;
    --modal-bg: rgba(0, 0, 0, 0.8);
    --primary-color: #ff9800;
    --card-bg: #e0e0e0;
}

.theme-dark {
    --bg-color: #333;
    --text-color: #f4f4f4;
    --header-bg: #555;
    --header-text: #f4f4f4;
    --primary-color: #ff9800;
    --card-bg: #444;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header {
    background-color: var(--header-bg);
    color: var(--header-text);
    padding: 10px 20px;
    display: flex;
    flex-direction: column; /* Додаємо цю властивість для вертикального вирівнювання */
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 500ms, color 500ms;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    height: 70px;
    text-align: center; /* Вирівнюємо текст по центру */
}

.header h1, 
.header h3 {
    margin: 0; /* Прибираємо зовнішні відступи */
    line-height: 1.2; /* Контролюємо висоту рядка */
}

.header h3 {
    margin-top: 0.5rem; /* Додаємо відступ між h1 і h3 */
    font-weight: 100;
}


.container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.certificates {
    display: grid;
    gap: 50px;
    width: 100%;
    max-width: 1200px;
}

.certificate {
    background-color: var(--card-bg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 15px;
    margin: 10px; /* Додаємо зовнішні відступи для кращого вигляду */
    text-align: center;
    border-radius: 12px; /* Трохи збільшуємо радіус */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certificate-img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform var(--transition-speed);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.certificate:hover {
    transform: scale(1.08); /* Збільшуємо ефект масштабування при наведенні */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Додаємо більше тіні при наведенні */
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-bg);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity var(--transition-speed);
}

.modal.active {
    display: flex;
    opacity: 1;
}

.modal-iframe {
    max-width: 90%;
    max-height: 90%;
    width: 80%;
    height: 80%;
    transition: transform var(--transition-speed);
}

.modal.active .modal-iframe {
    transform: scale(1);
}

/* Адаптивні стилі */
@media (min-width: 1200px) {
    .certificates {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .header {
        justify-content: flex-start;
    }
    .certificates {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .header {
        justify-content: flex-start;
    }
    .certificates {
        grid-template-columns: 1fr;
    }
}

.switch {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 60px;
    height: 34px;
    z-index: 1000; /* Забезпечує, що перемикач буде над іншими елементами */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    transition: 0.4s;
    background: white url('https://i.ibb.co/FxzBYR9/night.png') center no-repeat;
    background-size: contain;
}

input:checked + .slider {
    background-color: #ff9800;
}

input:checked + .slider:before {
    transform: translateX(26px);
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png') center no-repeat;
    background-size: contain;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* -------------------------- */
